$blue:rgb(64, 169, 255);
$green:rgba(31, 224, 57, 0.9);
$black:rgb(32, 32, 32);
$grey:rgba(230, 230, 230, 0.8);

$text-color-light:rgb(255, 255, 255);
$text-color-grey:rgb(173, 173, 173);

$scroll-color:rgb(173, 173, 173);